<div class="form-group form-skills">
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :proficiency %>
  <%= f.number_field(:proficiency) %>

  <%= link_to "Remove", "#", class: "btn btn-remove-field" %>
</div>
