<div class="profile-container">

  <div class="profile-image-container">
    <div class="profile-image">
      <%= image_tag @user.profile_image.url(:medium) %>
    </div>

    <div class="profile-name">
      <h2><%= @user.name %></h2>
    </div>
  </div>

  <div class="profile-about-container">
    <div class="profile-about">
      <p><%= @user.about %></p>
    </div>
  </div>

  <div class="profile-skills-container">

    <div class="profile-skills">
      <ul>
        <% @user.skills.each do |skill| %>
          <li>
            <div class="profile-skill">

              <div class="skill-name">
                <h2><%= skill.name %></h2>
              </div>

            </div>
          </li>
        <% end %>

      </ul>
    </div>

  </div>


  <div class="profile-projects-container">
    <div class="profile-projects-header">
      <h2>Finished Projects</h2>
    </div>

    <div class="profile-projects finished">
      <ul>
        <% @user.completed_projects.each do |project| %>

          <li>
            <a href="#">
              <div class="profile-project">

                <div class="project-name">
                  <h2><%= project.name %></h2>
                </div>

                <div class="project-screenshots">
                  <ul>
                    <% project.screenshots.each do |screenshot| %>

                    <li>
                      <img src="<%= screenshot.image.url %>" alt="" />
                    </li>

                    <% end %>
                  </ul>
                </div>

              </div>
            </a>
          </li>

        <% end %>
      </ul>
    </div>

    <div class="profile-projects-header">
      <h2>In Progress</h2>
    </div>

    <div class="profile-projects in-progress">
      <ul>
        <% @user.incomplete_projects.each do |project| %>

        <li>
          <a href="#">
            <div class="profile-project">

              <div class="project-name">
                <h2><%= project.name %></h2>
              </div>

              <div class="project-screenshots">
                <ul>
                  <% project.screenshots.each do |screenshot| %>

                  <li>
                    <img src="<%= screenshot.image.url %>" alt="" />
                  </li>

                  <% end %>
                </ul>
              </div>

            </div>
          </a>
        </li>

        <% end %>
      </ul>
    </div>
  </div>

  <div class="profile-miscellaneous">
    <div class="miscellaneous">
      <ul>
        <li><a href="#">MISC ITEM</a></li>
      </ul>
    </div>
  </div>

  <div class="contact-container">
    <div class="contact">
      <ul>
      <% @user.contact_types.each do |contactType| %>

        <li>
          <div class="contact-icon">
            <a href="<%= contactType.url %>">
              <i class="icon-<%= contactType.name %>"></i>
            </a>
          </div>
        </li>

      <% end %>
      </ul>
    </div>
  </div>

</div>
